{% extends 'base.html' %}  <!-- Extiende la plantilla base 'base.html' -->

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Tarjeta para el formulario de modificación de perfil -->
            <div class="card shadow border-0">
                <!-- Encabezado de la tarjeta con el título "Modificar Perfil" -->
                <div class="card-header text-center bg-light">
                    <h2 class="mb-0">Modificar Perfil</h2>
                </div>
                <div class="card-body">
                    <!-- Formulario de modificación de perfil -->
                    <form method="POST">
                        {% csrf_token %}  <!-- Protección CSRF para formularios de seguridad en Django -->
                        {{ form.as_p }}  <!-- Muestra el formulario en formato de párrafo -->
                        <!-- Botón para guardar cambios -->
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-primary btn-lg">Guardar Cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
