{% extends 'base.html' %}  

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Tarjeta de perfil del usuario -->
            <div class="card shadow border-0">
                <!-- Encabezado de la tarjeta con el título "Perfil de Usuario" -->
                <div class="card-header text-center bg-light">
                    <h2 class="mb-0" style="color: inherit;">Perfil de Usuario</h2>
                </div>
                <div class="card-body">
                    <!-- Imagen de perfil del usuario -->
                    <div class="text-center mb-4">
                        <img src="../static/imagen/klipartz.com.png" class="rounded-circle img-thumbnail" alt="Foto de perfil" width="100px">
                    </div>
                    <!-- Información del usuario -->
                    <h5 class="card-title text-center">Información del Usuario</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Nombre de Usuario:</strong> {{ user.username }}</li>
                        <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
                    </ul>
                    <!-- Botones de modificar y eliminar perfil -->
                    <div class="d-grid gap-2 mt-4">
                        <a href="{% url 'modificar_usuario' %}" class="btn btn-primary btn-lg">Modificar Perfil</a>
                        <a href="{% url 'eliminar_usuario' %}" class="btn btn-danger btn-lg">Eliminar Perfil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
